@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-porcelain: #BFBFBF;
  --color-onyx: #1C1C1C;
  --color-viridian-50: #F0FDF4;
  --color-viridian-100: #DCFCE7;
  --color-viridian-200: #BBF7CF;
  --color-viridian-300: #86EFAB;
  --color-viridian-400: #4BDF7F;
  --color-viridian-500: #21C65C;
  --color-viridian-600: #15A448;
  --color-viridian-700: #14813C;
  --color-viridian-800: #166533;
  --color-viridian-900: #14532C;
  --color-viridian-950: #052E15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Tektur', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.bg-pattern {
  background-color: var(--background);
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, var(--background) 20%, var(--background) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--background) 20%, var(--background) 80%, transparent 80%, transparent) 72.5px 72.5px, linear-gradient(#15A448 5.800000000000001px, transparent 5.800000000000001px) 0 -2.9000000000000004px, linear-gradient(90deg, #15A448 5.800000000000001px, var(--background) 5.800000000000001px) -2.9000000000000004px 0;
  background-size: 145px 145px, 145px 145px, 72.5px 72.5px, 72.5px 72.5px;
}